<h1>Hello!</h1>

<div>
  <label>Select The Cryptocurrency: </label>
  <select [(ngModel)]="selectedCryptoCurrency">
    <option *ngFor="let symbole of cryptoCurrencies" value={{symbole}}>
      {{symbole}}
  </select>
  <button type="button" value="Show The Quote" (click)="onShow()">Show The Quote</button>
</div>
<br />
<br />
<br />
<div>
  <table>
    <tr>
      <td>Symbole</td>
      <td>Price</td>
    </tr>
    <tr *ngFor="let quote of quotes">
      <td>{{quote.BaseCurrency.Code}}</td>
      <td>{{quote.Price}}</td>
    </tr>
  </table>
</div>